* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "lato-bold";
    src: url('../fonts/lato/Lato-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "lato-regular";
    src: url('../fonts/lato/Lato-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "lato-SemiBold";
    src: url('../fonts/lato/651023a7a9dc3c2f73c94859_Lato-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

:root {
    --lato-bold: lato-bold;
    --lato-regular: lato-regular;
    --lato-semibold: lato-SemiBold;
    --black-color: #000000;
    --white-color: #ffffff;
    --boredr-color: #d3d3d3;
    --bg-color: #f1f1f1;
    --shadow: 0 2px 8px #00000036;
    --dark-color: #2b2b2b;
    --blue-color: #8E84F3;
}

body {
    background: var(--bg-color);
    width: 100%;
}

aside {
    flex-shrink: 0;
    position: sticky;
    top: 0;
}

.Sidebar {
    width: 250px;
    height: 100vh;
    display: block;
    background: var(--white-color);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
}

.left-side-logo {
    width: 100%;
    border-bottom: 1px solid var(--dark-color);
    padding: 1rem;
}

.left-side-logo a {
    width: 30px;
    height: 30px;
    border: 1px solid var(--black-color);
    display: inline-block;
}

.side-bar-menu {
    padding: 1rem;
    list-style: none;
}

.side-bar-menu a {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    padding: 8px 15px;
    width: 100%;
    color: var(--dark-color);
    font-family: var(--lato-bold);
    text-decoration: none;
    font-weight: 500;
    border-radius: 10px;
}

.side-bar-menu a.active {
    background: var(--blue-color);
    color: var(--white-color);
    box-shadow: var(--shadow);
}

.side-bar-menu a:hover {
    background: var(--blue-color);
    box-shadow: var(--shadow);
    color: var(--white-color);
}

main {
    display: flex;
    align-items: start;
}

.right-main {
    /* background-color: red; */
    width: 100%;
    padding: 1.5rem;
    max-width: 1400px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 7px;
    position: relative;
    cursor: pointer;
}

.header__profile-setting {
    position: absolute;
    right: 0;
    top: 100%;
    flex-direction: column;
    background: var(--white-color);
    box-shadow: var(--shadow);
    white-space: nowrap;
    border-radius: 5px;
    display: none;
}

.header__profile-setting.active {
    display: flex;
}

.header__profile-setting a {
    padding: 1rem;
    text-decoration: none;
    color: var(--black-color);
    font-family: var(--lato-semibold);
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.header__profile-setting a:hover {
    background: #eeeeee;
}

.logo-wrapper {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    border: 2px solid var(--bg-color);
    border-radius: 50%;
    overflow: hidden;
}

.logo-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.user-info .user-name {
    font-size: 13px;
    font-family: var(--lato-bold);
    color: var(--dark-color);
    font-weight: 600;
}

.user-info .user-role {
    font-size: 11px;
    font-family: var(--lato-regular);
    color: var(--dark-color);
    opacity: .8;
    font-weight: 500;
}

.site-header {
    background: var(--white-color);
    padding: 1rem 1.5rem;
    box-shadow: var(--shadow);
    border-radius: 10px;
    position: sticky;
    top: 1.5rem;
    z-index: 100;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: end;
}

.dashboard-wrapper {
    background: var(--white-color);
    box-shadow: var(--shadow);
    margin-top: 1.5rem;
    padding: 1.5rem;
    border-radius: 10px;
}

.dashboard-title {
    font-size: 18px;
    font-family: var(--lato-bold);
    font-weight: 600;
    color: var(--dark-color);
    margin-bottom: 1rem;
}

.campaign-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.campaign-info {
    background: var(--white-color);
    /* border: 16px solid var(--bg-color); */
    box-shadow: var(--shadow);
    padding: 1.5rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.campaign-info .campaign-name {
    font-family: var(--lato-regular);
    font-weight: 500;
    color: var(--dark-color);
    margin-bottom: 10px;
}

.campaign-info .campaign-count {
    font-family: var(--lato-bold);
    font-weight: 700;
    color: var(--dark-color);
    margin-bottom: 3px;
    font-size: 25px;
}

.campaign-info .campaign-label {
    font-family: var(--lato-bold);
    font-weight: 700;
    color: var(--dark-color);
    margin-bottom: 10px;
    font-size: 10px;
    opacity: .8;
}

.campaign-info .campaign-link a {
    font-family: var(--lato-bold);
    font-weight: 700;
    color: var(--blue-color);
    margin-bottom: 10px;
    font-size: 12px;
    opacity: .8;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

.campaign-info .campaign-social a {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--dark-color);
    transition: 0.2s;
}

.campaign-info .campaign-social a:hover.instagram {
    background: #d8d66c;
    color: var(--white-color);
}

.platforms-section {
    background: var(--white-color);
    box-shadow: var(--shadow);
    padding: 1.5rem;
    border-radius: 10px;
    margin-top: 1.5rem;
}

.platforms-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.platforms-title {
    font-size: 18px;
    font-family: var(--lato-bold);
    font-weight: 600;
    color: var(--dark-color);
}

.platforms-view-all a {
    text-decoration: none;
    background: var(--dark-color);
    padding: 7px 15px;
    color: var(--white-color);
    font-family: var(--lato-regular);
    font-size: 13px;
    border-radius: 5px;
    display: block;
    width: fit-content;
    margin-left: auto;
}

.platforms-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.platforms-list .platform-icon {
    width: 2rem;
}

.platform-card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    padding: 1rem;
    border-radius: 10px;
    text-decoration: none;
    border: 1px solid var(--bg-color);
}

.platform-card .platform-count {
    font-size: 18px;
    font-family: var(--lato-bold);
    color: var(--dark-color);
}

.platform-card .platform-name {
    font-size: 13px;
    font-family: var(--lato-regular);
    color: var(--dark-color);
    opacity: .8;
}

.brand-section {
    /* display: grid; */
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.brand-charts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.brand-card {
    background: var(--white-color);
    box-shadow: var(--shadow);
    border-radius: 10px;
    padding: 1.5rem;
}

.brand-name {
    font-size: 20px;
    font-family: var(--lato-bold);
    font-weight: 600;
    color: var(--dark-color);
    text-decoration: none;
}

.brand-name i {
    font-size: 16px;
    color: var(--blue-color);
}

.brand-image-wrapper {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
}

.brand-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.brand-card-box {
    display: flex;
    justify-content: space-between;
}

.brand-card-box .brand-info,
.brand-meta {
    display: flex;
    align-items: center;
    gap: 10px;
}

.brand-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.brand-category {
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    font-family: var(--lato-regular);
    color: var(--dark-color);
}

.brand-location {
    display: flex;
    align-items: center;
    gap: 3px;
    font-family: var(--lato-regular);
    color: var(--dark-color);
    font-size: 13px;
    opacity: .8;
}

.brand-card-social-links {
    display: flex;
    align-items: center;
    gap: 10px;
}

.brand-card-social-links a {
    width: 30px;
    height: 30px;
    background: var(--bg-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--dark-color);
}

.brand-description {
    font-family: var(--lato-regular);
    font-weight: 500;
    color: var(--dark-color);
    font-size: 13px;
    line-height: 1.3;
    margin: 1rem 0;
}

.brand-stats {
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
    border-bottom: 1px solid var(--bg-color);
    margin-bottom: 1rem;
}

.brand-stats .stat-number {
    font-size: 20px;
    font-family: var(--lato-bold);
    font-weight: 600;
    color: var(--dark-color);
    text-align: center;
}

.brand-stats .stat-label {
    font-size: 12px;
    font-family: var(--lato-regular);
    font-weight: 500;
    opacity: .8;
    color: var(--dark-color);
    text-align: center;
}

.chart-title {
    font-size: 18px;
    font-family: var(--lato-bold);
    font-weight: 600;
    color: var(--dark-color);
    padding: 1rem 0;
    border-bottom: 1px solid var(--bg-color);
    margin-bottom: 1rem;
}

.recommended-influencers-container {
    background: var(--white-color);
    margin-top: 1.5rem;
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.influencer-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid var(--bg-color);
}

.table-wrapper {
    padding: 1.5rem;
}

.influencer-img-placeholder {
    width: 1.75rem;
    height: 1.75rem;
}

.influencer-img-placeholder img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}

.influencer-title {
    display: flex;
    align-items: center;
    gap: 8px;
}

.influencer-title .influencer-name a {
    text-decoration: none;
    color: var(--dark-color);
    font-family: var(--lato-bold);
    font-weight: 600;
}

.influencer-table td,
.influencer-table th {
    padding: .75rem;
    vertical-align: middle;
    line-height: 1.462;
}

.influencer-table th {
    font-family: var(--lato-bold);
    font-weight: 600;
    color: var(--dark-color);
    text-align: start;
}

tbody,
td,
tfoot,
th,
thead,
tr {
    border: 1px solid var(--bg-color);
}

.influencer-table td .subscriber-count,
.influencer-table td .engagement-rate,
.influencer-table td .avg-views {
    font-family: var(--lato-bold);
    font-weight: 600;
    color: var(--dark-color);
    font-size: 14px;
}

.influencer-table td .country {
    font-size: 14px;
    font-family: var(--lato-regular);
    font-weight: 500;
    color: var(--dark-color);
    opacity: .8;
}

.influencer-table td .category {
    font-size: 10px;
    font-family: var(--lato-bold);
    padding: .25rem .45rem;
    font-weight: 600;
    border-radius: .25rem;
    color: #26BF94;
    background-color: RGBA(38, 191, 148, 0.1);
}

.recommended-influencers-title {
    padding: 1.5rem;
}

.view-all-data {
    margin-top: 1.5rem;
    text-align: end;
}

.footer {
    background: var(--white-color);
    padding: 1.5rem;
    margin-top: 1.5rem;
    text-align: center;
    font-family: var(--lato-regular);
    font-weight: 500;
    color: #a7a7a7;
    border-radius: 8px;
    font-size: 13px;
    box-shadow: 0 -2px 8px #00000036;
}

.footer a {
    color: var(--blue-color);
    text-decoration: none;
    font-family: var(--lato-regular);
    font-weight: 500;
}


/* Search page style  */
.form-wrapper {
    display: grid;
    grid-template-columns: .5fr 1.5fr;
    gap: 1.5rem;
}

.form-inner {
    background: var(--white-color);
    box-shadow: var(--shadow);
    border-radius: 10px;
    max-width: 350px;
    width: 100%;
    max-height: 500px;
    overflow-y: auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: .7rem;
    padding: 1.5rem;
}

.influencer-form hr {
    border: none;
    height: 1px;
    background: var(--boredr-color);
}

.form-label {
    font-family: var(--lato-regular);
    font-weight: 400;
    color: var(--dark-color);
    text-transform: uppercase;
    opacity: .8;
    font-size: 14px;
}

.form-input,
.form-select {
    padding: 8px 15px;
    outline: none;
    background: none;
    border: 1px solid var(--boredr-color);
    font-family: var(--lato-regular);
    font-weight: 400;
    color: var(--black-color);
    appearance: none;
}

.range-group {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.range-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.range-input label {
    font-family: var(--lato-regular);
    color: var(--black-color);
    font-weight: 400;
    font-size: 14px;
    opacity: .8;
}

.form-heading {
    padding: 1.5rem;
    font-family: var(--lato-regular);
    color: var(--black-color);
    font-weight: 400;
    font-size: 14px;
    opacity: .8;
}

.form-group-s {
    gap: 1.5rem;
}

.form-inner-heading {
    font-family: var(--lato-bold);
    font-size: 25px;
    font-weight: 700;
    /* padding: 1.5rem; */
}

.form-wrapper {
    margin-top: 1.5rem;
}

.checkbox-group {
    display: flex;
    align-items: center;
    font-family: var(--lato-regular);
    font-weight: 400;
    color: var(--black-color);
    font-size: 14px;
    gap: 1rem;
}

.search-cont-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    background: var(--white-color);
    margin-top: 1.5rem;
    border-radius: 8px;
    box-shadow: var(--shadow);
}

.form-sidebar {
    background: var(--white-color);
}

.form-sidebar__form {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    justify-content: space-between;
    padding: 1.5rem;
}

.form-group--search {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.form-group--search input {
    width: 100%;
}

.form-button {
    padding: 8px 15px;
    border: none;
    background: var(--black-color);
    color: var(--white-color);
    font-family: var(--lato-regular);
    font-weight: 400;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-sidebar__results-count {
    padding: 1.5rem;
    padding-top: 0;
    font-family: var(--lato-regular);
    color: var(--black-color);
}

.form-sidebar__result-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1.5rem;
    gap: 1.5rem;
}

.result-card {
    border: 1px solid var(--boredr-color);
    padding: 1.5rem;
    border-radius: 5px;
}

.result-card__top {
    display: flex;
    justify-content: space-between;
}

.result-card__info {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.result-card__img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.result-card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.result-card__name {
    font-size: 15px;
    font-weight: 600;
    font-family: var(--lato-bold);
    color: var(--black-color);
}

.result-card__location {
    font-size: 11px;
    font-family: var(--lato-regular);
    font-weight: 400;
    color: var(--black-color);
    opacity: .7;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
}

.result-card__stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid var(--boredr-color);
    margin: 1rem 0;
}

.result-card__stat:nth-child(1) {
    border-right: 1px solid var(--boredr-color);
}

.result-card__stat {
    padding: .5rem;
    text-align: center;
}

.result-card__label {
    font-size: 14px;
    text-transform: uppercase;
    font-family: var(--lato-regular);
    color: var(--black-color);
    margin-bottom: 5px;
}

.result-card__value {
    font-size: 14px;
    text-transform: uppercase;
    font-family: var(--lato-bold);
    color: var(--black-color);
}

.result-card__tags {
    display: flex;
    align-items: center;
    gap: 10px;
}

.result-card__tags button {
    outline: none;
    border-width: 1px;
    border-style: solid;
    background: none;
    border-radius: 2rem;
    font-family: var(--lato-regular);
    font-size: 10px;
    font-weight: 400;
    padding: 3px 8px;
}

.result-card__view-btn {
    outline: none;
    border: none;
    background: var(--black-color);
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 20px;
    width: 100%;
    margin-top: 1.5rem;
    border-radius: 8px;
    cursor: pointer;
}

.result-card__tag {
    color: var(--blue-color);
    border-color: var(--blue-color);
}

.result-card__menu-btn {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.form-group-select {
    position: relative;
}

.form-group-select-icon {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    height: -webkit-fill-available;
    pointer-events: none;
}

.form-group-select select {
    padding-right: 2.5rem;
}

.top-head-right {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-family: var(--lato-regular);
    font-weight: 400;
    color: var(--dark-color);
}

.top-head-right span {
    display: flex;
}

.search-pagination {
    padding: 1.5rem;
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 1.5rem;
}

.search-pagination button {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: var(--lato-bold);
    outline: none;
    background: none;
    border: 1px solid var(--black-color);
    border-radius: 3px;
}

.search-pagination .active {
    background: var(--black-color);
    color: var(--white-color);
}


/* List page style  */
.list-section {
    background: var(--white-color);
    margin-top: 1.5rem;
    box-shadow: var(--shadow);
}

.list-header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    border-bottom: 1px solid var(--boredr-color);
    margin-bottom: 1.5rem;
}

.list-header__controls {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.list-header__controls select {
    appearance: none;
    padding: 8px 15px;
    outline: none;
    border-color: var(--boredr-color);
    font-family: var(--lato-bold);
    font-weight: 700;
}

.list-header__controls button {
    padding: 8px 15px;
    outline: none;
    border-color: var(--boredr-color);
    font-family: var(--lato-bold);
    font-weight: 700;
    color: var(--white-color);
    background: var(--black-color);
    border: none;
    cursor: pointer;
}

.list-table {
    padding: 1.5rem;
}

.list-table table {
    width: 100%;
    border-collapse: collapse;
}

.list-table table th {
    text-align: left;
    padding: 10px 1rem;
    font-family: var(--lato-bold);
    font-weight: 700;
    color: var(--black-color);
    font-size: 14px;
}

.list-table table td {
    text-align: left;
    padding: 10px 1rem;
    font-family: var(--lato-regular);
    font-weight: 500;
    color: var(--black-color);
    font-size: 14px;
}

.list-table table td a {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: var(--black-color);
}

.list-table__actions {
    display: flex;
    align-items: center;
    gap: 8px;
}

.list-table__actions button {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
}

.list-table__actions button svg {
    pointer-events: none;
}

.list-table__edit-btn {
    background: #8d84f325;
    color: var(--blue-color);
}

.list-table__delete-btn {
    background: #e044292c;
    color: #e04429;
}

.list-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    border-top: 1px solid var(--boredr-color);
}

.list-footer__info {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-family: var(--lato-regular);
    color: var(--dark-color);
    font-weight: 400;
}

.list-footer__results {
    position: relative;
}

.list-footer__results select {
    padding: 8px 15px;
    outline: none;
    background: none;
    border-color: var(--boredr-color);
    appearance: none;
    font-family: var(--lato-regular);
    font-weight: 400;
    color: var(--dark-color);
    padding-right: 2rem;
}

.list-footer__results-icon {
    position: absolute;
    right: .8rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    pointer-events: none;
}

.list-table__icon {
    width: 25px;
    height: 25px;
    border: 1px solid var(--boredr-color);
    border-radius: 3px;
}

.create-list-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000036;
    z-index: 100;
    align-content: center;
    visibility: hidden;
}

.create-list-modal.active {
    visibility: visible;
}

.create-list-modal__container {
    background: var(--white-color);
    max-width: 500px;
    width: 100%;
    margin: auto;
    box-shadow: var(--shadow);
    border-radius: 5px;
}

.create-list-modal__header {
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--boredr-color);
}

.create-list-modal__title {
    font-size: 18px;
    font-family: var(--lato-semibold);
}

.create-list-modal__form-group {
    padding: .5rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 0;
}

.create-list-modal__form-group input,
.create-list-modal__form-group select {
    padding: 8px 15px;
    appearance: none;
    outline: none;
    border: 1px solid var(--boredr-color);
    font-family: var(--lato-semibold);
    color: var(--black-color);
}

.create-list-modal__form-group textarea {
    min-height: 60px;
    height: auto;
    resize: vertical;
    outline: none;
    border: 1px solid var(--boredr-color);
    padding: 8px 15px;
    font-family: var(--lato-semibold);
    color: var(--black-color);
}

.create-list-modal__label {
    font-family: var(--lato-semibold);
    color: var(--black-color);
}

.create-list-modal__actions {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    padding: 1.5rem;
    border-top: 1px solid var(--boredr-color);
    margin-top: 1rem;
}

.create-list-modal__actions button {
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    font-family: var(--lato-semibold);
    color: var(--black-color);
    font-size: 14px;
    color: var(--white-color);
}

.create-list-modal__button--cancel {
    background: var(--blue-color);
}

.create-list-modal__button--create {
    background: var(--black-color);
}

.error-msg {
    color: red;
    font-size: 12px;
    margin-top: 4px;
    display: block;
    font-family: var(--lato-semibold);
}

.list-table__link svg {
    margin-top: 5px;
}

.create-list-modal__close {
    cursor: pointer;
}


/* Campaigns page style  */
.campaign-wrapper {
    background: var(--white-color);
    box-shadow: var(--shadow);
    margin-top: 1.5rem;
}

.campaign-card__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1.5rem;
}

.campaign-card__icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff5d8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.campaign-card__icon .lucide-instagram-icon {
    color: #f02965;
}

.campaign-card__icon .bi-youtube {
    color: #e04429;
}

.campaign-card__info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.campaign-card__tags,
.campaign-card__stats {
    display: flex;
    align-items: center;
    gap: 10px;
}

.campaign-card__middle {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 1.5rem;
}

.campaign-card__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    margin-top: 1.5rem;
    border-top: 1px solid var(--boredr-color);
}

.campaign-card__metrics {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.campaign-card__delete-button {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #e04429;
    color: var(--white-color);
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.campaign-header {
    padding: 1.5rem;
    display: flex;
    justify-content: end;
}

.campaign-header__create-button {
    font-family: var(--lato-semibold);
    padding: 8px 15px;
    background: var(--black-color);
    color: var(--white-color);
    outline: none;
    border: none;
    cursor: pointer;
}

.campaign-list {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.campaign-card-box {
    border: 1px solid var(--boredr-color);
    border-radius: 10px;
}

.campaign-card__metrics {
    font-size: 14px;
    font-family: var(--lato-semibold);
}

.campaign-card__metrics-views,
.campaign-card__metrics-cpv {
    display: flex;
    align-items: center;
    gap: 5px;
}

.campaign-card__title {
    font-size: 22px;
    font-family: var(--lato-bold);
    margin-bottom: 5px;
}

.campaign-card__rating-star {
    color: #F5B849;
}

.campaign-card__stat,
.campaign-card__audience,
.campaign-card__created,
.campaign-card__ratings,
.campaign-card__platform {
    font-family: var(--lato-semibold);
    color: var(--black-color);
}

.campaign-card__ratings {
    font-size: 12px;
    margin-top: 5px;
}

.campaign-card__platform {
    font-size: 12px;
}

.campaign-form-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000036;
    z-index: 100;
    overflow-y: auto;
    visibility: hidden;
}

.campaign-form-wrapper.active {
    visibility: visible;
}

.campaign-form-container {
    background: var(--white-color);
    max-width: 600px;
    width: 100%;
    margin: auto;
}

.campaign-form__section-title {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid var(--boredr-color);
    font-family: var(--lato-bold);
}

.campaign-form__row {
    display: flex;
    /* padding: 10px 1.5rem; */
    gap: 1rem;
}

.campaign-form__field-group select {
    width: 100%;
    padding: 8px 15px;
    outline: none;
    border: 1px solid var(--boredr-color);
    appearance: none;
    font-family: var(--lato-semibold);
}

.campaign-form__field-group {
    width: 100%;
}

.campaign-form__label {
    font-family: var(--lato-semibold);
    color: var(--black-color);
    margin-bottom: 5px;
}

.campaign-form__input {
    position: relative;
}

.campaign-form__input-icon {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.campaign-form__field-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* margin-bottom: 15px; */
    /* padding: 0 1.5rem; */
}

.campaign-form input[type=text],
.campaign-form input[type=number],
.campaign-form input[type=date] {
    width: 100%;
    padding: 8px 15px;
    outline: none;
    border: 1px solid var(--boredr-color);
    font-family: var(--lato-semibold);
    color: var(--black-color);
}

.campaign-form__box {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid var(--boredr-color);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.campaign-form__field-group textarea {
    font-family: var(--lato-semibold);
    padding: 8px 15px;
    outline: none;
    border: 1px solid var(--boredr-color);
    min-height: 60px;
    height: auto;
    resize: vertical;
}

.campaign-form__field-group,
.campaign-form__input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.campaign-form__submit {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.campaign-form__submit button {
    border: none;
    outline: none;
    padding: 8px 15px;
    font-family: var(--lato-semibold);
    font-size: 16px;
    color: var(--white-color);
    cursor: pointer;
}

.campaign-form__cancle-button {
    background: var(--blue-color);
}

.campaign-form__create-button {
    background: var(--black-color);
}

.campaign-form__field-group {
    font-family: var(--lato-semibold);
    color: var(--black-color);
}

/* Brand page style */
.form-sidebar__search-brand {
    background: var(--white-color);
    margin-top: 1.5rem;
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.brand__waper {
    background: var(--white-color);
    box-shadow: var(--shadow);
    border-radius: 10px;
    margin-top: 1.5rem;
}

.platform-brand {
    width: 25px;
    height: 25px;
    border-radius: 3px;
    background: #fff5d8;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e04429;
}

.platform-brand:hover {
    background: #e04429;
    color: var(--white-color);
}

/* brand page style */
.brand-overview {
    display: flex;
    justify-content: space-between;
}

.brand-overview__logo {
    width: 80px;
    height: 80px;
    background: #26BF94;
    border-radius: 50%;
    flex-shrink: 0;
    overflow: hidden;
}

.brand-overview__logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.brand-overview__header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.company-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.company-info__item {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: var(--lato-semibold);
    color: var(--dark-color);
}

.brand-overview__title {
    font-size: 20px;
    font-family: var(--lato-bold);
    font-weight: 700;
    color: var(--black-color);
}

.brand-overview__description {
    font-family: var(--lato-regular);
    font-weight: 400;
    color: var(--dark-color);
    margin: 5px 0;
    font-size: 14px;
}

.brand-overview__social-list {
    display: flex;
    gap: 10px;
    list-style: none;
}

.brand-overview__social-list a {
    width: 25px;
    height: 25px;
    border-radius: 3px;
    background: #fff5d8;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-color);
    text-decoration: none;
}

.brand-overview__social-list a:hover {
    background: #e04429;
    color: var(--white-color);
}

.brand-stats-b {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.brand-stats__item .brand-stats__value {
    font-size: 30px;
    font-family: var(--lato-bold);
    font-weight: 700;
}

.brand-stats__item {
    text-align: center;
}

.brand-stats__item .brand-stats__label {
    font-family: var(--lato-regular);
    font-weight: 400;
    color: var(--dark-color);
}

#brand-container {
    margin-top: 1.5rem;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.tab-button {
    padding: 10px 15px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    width: 100%;
    font-family: var(--lato-semibold);
    font-weight: 600;
    border: 1px solid var(--boredr-color);
}

.tab-button.active {
    background-color: #000000;
    color: white;
}

.tabs-brand {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}

.tab__content-container {
    background: var(--white-color);
    border-radius: 10px;
    box-shadow: var(--shadow);
    margin-top: 1.5rem;
}

.brand-section__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    border-bottom: 1px solid var(--boredr-color);
}

.brand-section__controls {
    display: flex;
    gap: 1rem;
}

.brand-section__form {
    display: flex;
    gap: .5rem;
}

.brand-section__cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.5rem;
    padding: 1.5rem;
}

.brand-section__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
    border: 1px solid var(--boredr-color);
    padding: 1.5rem;
    border-radius: 10px;
}

.brand-section__link .brand-section__label {
    font-size: 20px;
    font-family: var(--lato-bold);
    font-weight: 700;
    color: var(--black-color);
    margin-top: 10px;
}

.brand-section__link .brand-section__value {
    font-size: 12px;
    font-family: var(--lato-regular);
    font-weight: 400;
    color: var(--black-color);
    opacity: .7;
    margin: 5px 0;
}

.brand-section__change {
    font-size: 14px;
    font-family: var(--lato-semibold);
    font-weight: 600;
    color: #e04429;
}

.brand-section__button {
    padding: 8px 15px;
    font-size: 16px;
    font-family: var(--lato-semibold);
    color: var(--white-color);
    border: none;
    outline: none;
    background: var(--black-color);
    border-radius: 5px;
    cursor: pointer;
}

.brand-section__form input {
    padding: 8px 15px;
    outline: none;
}

.brand-section__form button {
    padding: 8px 15px;
    border: 1px solid var(--black-color);
    font-size: 16px;
    font-family: var(--lato-semibold);
    color: var(--black-color);
    background: transparent;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.brand-section__title {
    font-size: 18px;
    font-family: var(--lato-bold);
    font-weight: 600;
    color: var(--dark-color);
}

.brand-section__ment {
    padding: 1.5rem;
    border-bottom: 1px solid var(--boredr-color);
}

#viewsChart__brand-1,
#viewsChart__brand-2 {
    padding: 1.5rem;
}

.brand-language-summary__summary {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem;
    border-top: 1px solid var(--boredr-color);
    /* margin-top: 1rem; */
}

.brand-language-summary__summary .summary__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.brand-language-summary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.brand-language-summary__chart {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}

.brand-language-summary__container {
    border: 1px solid var(--boredr-color);
}

.stats-summary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1.5rem;
    gap: 1.5rem;
    height: 100%;
}

.stats-summary__item {
    border: 1px solid var(--boredr-color);
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border-radius: 10px;
}

.stats-summary__icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--black-color);
    color: var(--white-color);
    flex-shrink: 0;
}

.stats-summary__label {
    font-family: var(--lato-regular);
    font-weight: 400;
    color: var(--black-color);
    opacity: .7;
    font-size: 14px;
    margin-bottom: 5px;
}

.stats-summary__value {
    font-size: 20px;
    font-weight: 700;
    font-family: var(--lato-bold);
    color: var(--black-color);
}

.summary__item .summary__label {
    font-family: var(--lato-regular);
    font-weight: 400;
    color: var(--black-color);
    opacity: .8;
    font-size: 14px;
}

.summary__item .summary__value {
    font-family: var(--lato-bold);
    font-weight: 700;
    color: var(--black-color);
}

.summary__view-all {
    font-family: var(--lato-semibold);
    font-weight: 600;
    color: var(--blue-color);
    cursor: pointer;
}


.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    /* padding: 20px; */
    width: 90%;
    max-width: 500px;
    border-radius: 8px;
    padding: 1rem 0;
}

.modal-content h3 {
    margin-top: 0;
}

.modal-content table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.modal-content__table {
    max-height: 80vh;
    overflow-y: auto;
}

.modal-content table tbody,
.modal-content table td,
.modal-content table tfoot,
.modal-content table th,
.modal-content table thead,
.modal-content table tr {
    border-left: none;
    border-right: none;
}

.modal-content th,
.modal-content td {
    padding: 8px 1.5rem;
    text-align: left;
    border: 0;
    font-family: var(--lato-regular);
}

.modal-content td {
    font-size: 14px;
}

.close {
    float: right;
    font-size: 22px;
    cursor: pointer;
    margin-right: 1.5rem;
}

.modal-content__table-close {
    padding: 8px 15px;
    display: block;
    margin-left: auto;
    margin-right: 1.5rem;
    margin-top: 1rem;
    cursor: pointer;
    font-family: var(--lato-semibold);
    color: var(--white-color);
    background: var(--black-color);
    border: none;
    outline: none;
    border-radius: 3px;
}

.modal-content h3 {
    font-family: var(--lato-bold);
    padding: 0 1.5rem;
    margin-bottom: 1rem;
}


.videoTabNav {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}

.videoTabBtn {
    padding: 10px 15px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    width: 100%;
    font-family: var(--lato-semibold);
    font-weight: 600;
    border: 1px solid var(--boredr-color);
}

.videoTabBtn.is-selected {
    background-color: var(--black-color);
    color: #fff;
}

.videoTabContent {
    display: none;
}

.videoTabContent.is-visible {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1.5rem;
    gap: 1.5rem;
}

.video-card__thumbnail img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.video-card__link {
    text-decoration: none;
    border: 1px solid var(--boredr-color);
    display: block;
    border-radius: 10px;
    transition: all .2s;
}


.video-card__link:hover {
    box-shadow: var(--shadow);
}

.video-card__meta {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    font-family: var(--lato-semibold);
    font-weight: 600;
    color: var(--black-color);
}

.video-card__content {
    padding: 1rem;
    display: block;
}

.video-card__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 1rem;
}

.video-card__text .video-card__title {
    font-family: var(--lato-semibold);
    font-weight: 600;
    color: var(--black-color);
}

.video-card__text .video-card__description {
    font-family: var(--lato-regular);
    font-weight: 400;
    color: var(--black-color);
    opacity: .7;
    font-size: 12px;
}

.video-card__stats {
    display: flex;
    gap: 1rem;
}

.video-card__stat-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.tab-content.active#videos {
    display: flex;
    padding: 1rem;
    gap: 1rem;
}

.tab-content.active#influencers {
    display: flex;
    padding: 1rem;
    gap: 1rem;
}

.brand__video-cont {
    width: 100%;
}

.brand__totals-result {
    font-family: var(--lato-semibold);
    margin-bottom: 1rem;
    font-weight: 600;
    color: var(--black-color);
    font-size: 14px;
    opacity: .8;
}

.active-status-brand {
    width: 25px;
    aspect-ratio: 1/1;
    border-radius: 3px;
    outline: none;
    border: none;
    color: #26BF94;
    background: #e0fff6;
    margin-right: 3px;
}


.compare-brand__search {
    padding: 8px 15px;
    outline: none;
    background: none;
    border: 1px solid var(--boredr-color);
    font-family: var(--lato-regular);
    font-weight: 400;
    color: var(--black-color);
    appearance: none;
    width: 100%;
}

.compare-brand__header {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 1.5rem;
}

.compare-brand__image {
    width: 50px;
    height: 50px;
    background: #f8e6e3;
    color: #e04429;
    flex-shrink: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.compare-brand__title {
    font-size: 18px;
    font-family: var(--lato-bold);
    color: var(--black-color);
}

.compare-brand__stats {
    padding: 1.5rem;
}

.compare-brand__stat-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem 1.5rem;
    border-bottom: 1px solid var(--boredr-color);
}

.compare-brand__content {
    padding: 0 1.5rem;
}

.compare-brand__stat-icon {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
    background: var(--black-color);
}

.youtube__chart {
    padding: 1rem 1.5rem;
    width: 100%;
}

.compare-brand {
    background: var(--white-color);
    box-shadow: var(--shadow);
    margin-top: 1.5rem;
    border-radius: 10px;
}

.compare-brand__stat-block {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    border: 1px solid var(--boredr-color);
    border-radius: 10px;
    /* max-width: 400px; */
    width: 100%;
    align-items: flex-start;
}

.compare-brand__stat-diff {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    font-family: var(--lato-semibold);
    font-weight: 600;
    color: #26BF94;
}

.compare-brand__stat-comparison {
    display: flex;
    /* flex-wrap: wrap; */
    background: var(--white-color);
    box-shadow: var(--shadow);
    padding: 1.5rem;
    margin-top: 1.5rem;
    gap: 1.5rem;
    border-radius: 10px;
}

.compare-brand__stat-label {
    font-size: 12px;
    font-family: var(--lato-bold);
    color: var(--black-color);
    opacity: .6;
}

.compare-brand__stat-top {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.compare-brand__stat-value {
    flex-shrink: 0;
    width: 8px;
    height: 2px;
    background: var(--black-color);
    margin-bottom: 10px;
}

.compare__table-form {
    display: flex;
    background: var(--white-color);
    box-shadow: var(--shadow);
    padding: 1.5rem;
    gap: 1.5rem;
    border-radius: 10px;
    margin-top: 1.5rem;
}

.brand__video-cont {
    padding: 1.5rem 0;
}

.platform-selector__options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: var(--white-color);
    box-shadow: var(--shadow);
    flex-direction: column;
    border-radius: 5px;
    z-index: 100;
    overflow: hidden;
}

.platform-selector__options.show {
    display: flex;
}

.platform-selector {
    position: relative;
}

.platform-selector__button {
    background: var(--black-color);
    color: var(--white-color);
    padding: 8px 15px;
    border-radius: 3px;
    outline: none;
    border: none;
    display: block;
    cursor: pointer;
}

.platform-selector__options a {
    padding: 1rem;
    text-decoration: none;
    color: var(--black-color);
    font-family: var(--lato-semibold);
    display: flex;
    align-items: center;
    gap: 10px;
}

.platform-selector__options a:hover {
    background: #eeeeee;
}

.right__research-cont {
    width: 100%;
}

.report__select select {
    padding-right: 2.5rem !important;
}

.report__choese-file {
    padding: 0 !important;
    height: 33px;
    align-content: center;
}

.report__choese-file::-webkit-file-upload-button {
    visibility: hidden;
}

.report__choese-file::before {
    content: 'Choese File';
    background: var(--boredr-color);
    height: 100%;
    padding: 8px 15px;
}

.list-table {
    white-space: nowrap;
    overflow-x: auto;
}

.brand-section__cards-report {
    grid-template-columns: repeat(4, 1fr);
}

.report-metrics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    padding: 1.5rem;
}

.report-metrics__item {
    display: flex;
    gap: 1rem;
    padding: 1.5rem;
    border: 1px solid var(--boredr-color);
    border-radius: 10px;
}

.report-metrics__icon {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background: var(--black-color);
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.report-metrics__value {
    font-size: 18px;
    font-family: var(--lato-bold);
    font-weight: 700;
    color: var(--black-color);
}

.report-metrics__label {
    font-size: 12px;
    font-family: var(--lato-semibold);
    font-weight: 600;
    color: var(--black-color);
    opacity: .7;
    margin: 5px 0;
}

.report-metrics__link a {
    font-size: 10px;
    font-family: var(--lato-semibold);
    font-weight: 600;
    color: var(--blue-color);
    text-decoration: none;
}

.report__main-cont {
    background: var(--white-color);
    margin-top: 1.5rem;
    border-radius: 10px;
    overflow: hidden;
}

.report__add-post-btn {
    padding: 8px 15px;
    white-space: nowrap;
    margin-left: 1.5rem;
    border: none;
    outline: none;
    font-family: var(--lato-semibold);
    font-weight: 600;
    color: var(--white-color);
    background: var(--black-color);
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
}

.list-header__title {
    font-family: var(--lato-bold);
    font-weight: 700;
    color: var(--black-color);
}

.list-table__trend-btn {
    color: #26BF94;
    background: #e0fff6;
}

.create-post-modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.create-list-modal__container {
    background: white;
    width: 500px;
    max-width: 100%;
    padding: 20px;
    border-radius: 8px;
}

.trend-list-modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.no-posts-msg {
    padding: 1.5rem;
    font-family: var(--lato-bold);
    font-weight: 700;
    color: var(--black-color);
}

.insta__report-msg,
.no-posts-wrapper {
    padding: 1.5rem;
    font-family: var(--lato-bold);
    font-weight: 700;
    color: var(--black-color);
}

.trend-list-modal__container {
    max-width: 700px;
    width: 100%;
    background: var(--white-color);
    margin: auto;
    border-radius: 10px;
}

.trend-list-modal {
    align-content: center;
}

.trend__cart-title {
    font-family: var(--lato-bold);
    font-weight: 700;
    color: var(--black-color);
    padding: 1rem 1.5rem;
    border-bottom: 1px solid var(--boredr-color);
}

#chart__trend-report {
    padding: 1.5rem;
}

.trend-list-modal__close {
    cursor: pointer;
}

.login_box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1440px;
    width: 100%;
    margin: auto;
    height: 100vh;
}

.left_form-logo img {
    height: 40px;
}

.right_box-form_content-img img {
    width: 100%;
    max-width: 400px;
    margin: auto;
    display: block;
}

.right_box-form_content {
    background: #baade0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left_form {
    max-width: 400px;
    width: 100%;
    margin: auto;
    padding: 1rem;
}

.left_form-hading {
    font-size: 25px;
    font-family: var(--lato-bold);
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.sign_google {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background: rgb(244, 251, 255);
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: 14px;
    font-family: var(--lato-regular);
    cursor: pointer;
}

.sign_google:hover {
    background: #e4ecf2;
}

.left_form-or {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    font-family: var(--lato-regular);
    font-size: 14px;
    margin: 2rem 0;
}

.left_form-or span:nth-child(1) {
    height: 1px;
    width: 100%;
    background: var(--boredr-color);
}

.left_form-or span:nth-child(3) {
    height: 1px;
    width: 100%;
    background: var(--boredr-color);
}

.left_form-para {
    font-family: var(--lato-regular);
    color: var(--black-color);
    margin-bottom: 1rem;
}

.input_login {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: var(--lato-regular);
    color: var(--black-color);
}

.left_form-password {
    margin-top: 0.8rem;
}

.input_login input {
    height: 40px;
    width: 100%;
    outline: none;
    border: 1px solid var(--boredr-color);
    border-radius: 3px;
    background: transparent;
    padding: 0 1rem;
}


.forget_pass-btn {
    text-align: end;
    margin-top: 5px;
}

.forget_pass-btn a {
    text-decoration: none;
    font-family: var(--lato-regular);
    color: rgb(65, 65, 255);
    font-size: 14px;
}

.forget_pass-btn a:hover {
    text-decoration: underline;
}

.remmber_check label {
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 14px;
    font-family: var(--lato-regular);
    color: var(--black-color);
    margin-top: 10px;
    margin-bottom: 1rem;
    user-select: none;
}

.login_btn {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 40px;
    border: none;
    background: var(--blue-color);
    border-radius: 3px;
    color: var(--bg-color);
    cursor: pointer;
}

.right_box-form_content-arti {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

.right_box-form_content-arti h2 {
    font-size: 30px;
    font-family: var(--lato-bold);
    color: var(--black-color);
    margin-bottom: .7rem;
}

.right_box-form_content-arti p {
    font-family: var(--lato-regular);
    color: var(--black-color);
    line-height: 1.5;
}